.prod-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.productos .cards {
    border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: aliceblue;
    background-color: #282c34;
}

.titulo {
    text-align: center;
    color: rgb(51, 62, 70);
}

.productos .cards img {
    max-width: 100%;
    height: 30vh;
    border-radius: 10px;
}

.detalle {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.detalle:hover{
    background-color: #0056b3;
}
.productos .cards p {
    text-align: center;
}