.header {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    padding: 20px;
}
.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navBar nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .navBar nav li{
    list-style: none;
    margin-right: 20px;
}
.header .navBar nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}
.header .navBar nav li a:hover {
    color: rgb(206, 76, 76);
}
.header .navBar .div-carro{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(179, 177, 177);
    gap: 10px;
}
.categorias{
    font-size: 17px;
}
